.cedarville-cursive-regular {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
  justify-content: space-around;
}

.nav {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 5em;
  width: 100%;
  text-align: center;
  height: 60px;
  padding: 20px;
  color: #ffffff;
  font-weight: bold;
  /* background-color: #3e362e; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  display: block;
  margin-left: 40px;
}
